<mat-toolbar>
  <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <a mat-button href="https://discordapp.com/invite/vZzwj4m">Discord</a>
  <a mat-button href="https://www.youtube.com/channel/UC_ce-rupxQIle_ErUNDr98A">YouTube</a>
  <a mat-button href="https://www.twitch.tv/psduckie">Twitch</a>
  <button mat-button [matMenuTriggerFor]="storylines">Storylines</button>
</mat-toolbar>

<mat-menu #storylines="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="ts3storylines">The Sims 3</button>
</mat-menu>

<mat-menu #ts3storylines="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="lastofherkind">Last of Her Kind</button>
  <button mat-menu-item [matMenuTriggerFor]="nightmagic">The Nightmagic Legacy</button>
  <button mat-menu-item [matMenuTriggerFor]="darkdusk">The Darkdusk Legacy</button>
</mat-menu>
