<mat-toolbar>
  <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <a mat-button href="https://discordapp.com/invite/vZzwj4m">Discord</a>
  <a mat-button href="https://www.youtube.com/channel/UC_ce-rupxQIle_ErUNDr98A">YouTube</a>
  <a mat-button href="https://www.twitch.tv/psduckie">Twitch</a>
  <button mat-button [matMenuTriggerFor]="storylines">Storylines</button>
</mat-toolbar>

<mat-menu #storylines="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="ts3storylines">The Sims 3</button>
</mat-menu>

<mat-menu #ts3storylines="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="lastofherkind">Last of Her Kind (ended)</button>
  <button mat-menu-item [matMenuTriggerFor]="nightmagic">The Nightmagic Legacy (ended)</button>
  <button mat-menu-item [matMenuTriggerFor]="darkdusk">The Darkdusk Legacy (ended)</button>
</mat-menu>

<mat-menu #darkdusk="matMenu">
  <button mat-menu-item>Rolls and Traits</button>
  <a mat-menu-item href="https://youtu.be/EUncoEepY0Y">Video Lore Drop: Piercing of the Barriers (on YouTube)</a>
  <button mat-menu-item>Prologue</button>
  <button mat-menu-item>Chapter 1: Reality Check</button>
  <button mat-menu-item>Chapter 2: Completed Development</button>
  <button mat-menu-item>Chapter 3: Start of the Plan</button>
  <button mat-menu-item>Chapter 4: Return of the Night</button>
  <button mat-menu-item>Chapter 5: A Change and a Child</button>
  <button mat-menu-item>Chapter 6: Growth and Development</button>
  <button mat-menu-item>Chapter 7: Two Daughters and a Sun</button>
  <button mat-menu-item>Chapter 8: The Sorenson Agent Revealed</button>
  <button mat-menu-item>Chapter 9: Sorenson’s Fall</button>
  <button mat-menu-item>Finale: Catastrophe</button>
</mat-menu>

<mat-menu #nightmagic="matMenu">
  <button mat-menu-item>Rolls and Traits</button>
  <button mat-menu-item>Prologue: Freedom</button>
  <button mat-menu-item>Chapter 1: 81 Claddagh Court</button>
  <button mat-menu-item>Chapter 2: Sophie</button>
  <button mat-menu-item>Chapter 3: Maintaining the Ward</button>
  <button mat-menu-item>Chapter 4: Warden</button>
  <button mat-menu-item>Chapter 5: Tyla</button>
  <button mat-menu-item>Bonus Chapter: How Tyla Met Duncan</button>
  <button mat-menu-item>Chapter 6: Tragedy and a Toddler</button>
  <a mat-menu-item href="https://youtu.be/z9ELas5_Dg8">Video Bonus Chapter: Who Killed Tyla? (on YouTube)</a>
  <button mat-menu-item>Chapter 7: Enter the Villains</button>
  <button mat-menu-item>Chapter 8: They All Grow Up</button>
  <button mat-menu-item>Chapter 9: He’s Real!</button>
  <button mat-menu-item>Chapter 10: End of a Generation</button>
</mat-menu>

<mat-menu #lastofherkind="matMenu">
  <button mat-menu-item>Rolls and Traits</button>
  <button mat-menu-item>Christmas Card 2015</button>
  <button mat-menu-item>Prologue</button>
  <button mat-menu-item>Chapter 1: Welcome to Sunlit Tides</button>
  <button mat-menu-item>Chapter 2: Life and Loss</button>
  <button mat-menu-item>Chapter 3: Saving Mia</button>
  <button mat-menu-item>Interlude</button>
</mat-menu>
